data/xml/coll_1/ex_2/sol_1/lecture.dtd

<!ELEMENT lecture (lecturer+, date+, student+)>
<!ELEMENT lecturer (name)>
<!ATTLIST lecturer title CDATA #REQUIRED>
<!ELEMENT date (hours)>
<!ATTLIST date weekday (mon | tue | wed | thu | fri | sat | sun) #REQUIRED>
<!ELEMENT student (name)>
<!ATTLIST student matrikel CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT hours (#PCDATA)>