data/xml/coll_1/ex_5/sol_2/library.dtd

<!ELEMENT bibliothek (abteilung+)>
<!ELEMENT abteilung (titel, buch+)>
<!ELEMENT buch (id, isbn, titel, autor, coautor*, verlag?, auflage?, jahr)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT titel (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT coautor (#PCDATA)>
<!ELEMENT verlag (#PCDATA)>
<!ELEMENT auflage (#PCDATA)>
<!ELEMENT jahr (#PCDATA)>