data/xml/coll_1/ex_3/sol_1/praxis.dtd

<!ELEMENT praxis (arzt+)>
<!ELEMENT arzt (name, termin+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT termin (datum, uhrzeit, patient, beschreibung?)>
<!ATTLIST termin art (untersuchung | behandlung | operation) #REQUIRED>
<!ELEMENT datum (#PCDATA)>
<!ELEMENT uhrzeit (#PCDATA)>
<!ELEMENT patient (#PCDATA)>
<!ELEMENT beschreibung (#PCDATA)>