data/xml/coll_1/ex_2/sol_2/lecture.dtd

<!ELEMENT lecture (lecturer+, date+, student+)>
<!ELEMENT lecturer (name, title)>
<!ELEMENT date (hours)>
<!ATTLIST date weekday (mon | tue | wed | thu | fri | sat | sun) #REQUIRED>
<!ELEMENT student (name, matrikel)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT hours (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT matrikel (#PCDATA)>